.blog-header{
    background-image: url(/_next/static/media/bottom.91ee8ea4.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: bottom;
    background-size: contain;    
}